# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
def MakeTable(i):
    left = pd.read_csv("Data/Students_info_{0}.csv".format(i), sep=",").set_index('index')
    right = pd.read_csv("Data/Students_marks_{0}.csv".format(i), sep=",").set_index('index')
    return left.join(right)
    
table = MakeTable(0)
for i in range(1,10):
    table = pd.concat([table, MakeTable(i)])
table.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
table = table.reset_index(drop=True)
table.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
print("Number of rows: {0}, number of columns: {1}\nNumber of elements in the Data Frame: {2}".format(table.shape[0], table.shape[1], table.size))

Number of rows: 1000, number of columns: 9
Number of elements in the Data Frame: 9000

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
table.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
#первый any - вернет значение true, если хотя бы в одном столбце есть NaN, второй .any вернет наличие true в предыдущем вызове - то, что нам и нужно
print("Is there any NaN in the data set: {0}".format("YES" if(table.isnull().any().any()) else "NO"))

Is there any NaN in the data set: NO

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
print("Math mean:\t {0}\nReading mean:\t {1}\nWriting mean:\t {2}".format(table['math score'].mean()
                                                                    ,table['reading score'].mean()
                                                                    ,table['writing score'].mean()))

Math mean:	 66.089
Reading mean:	 69.169
Writing mean:	 68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

* Зависимость средней оценки по математике от прохождения подготовительного курса

In [8]:
table.groupby("test preparation course")["math score"].mean()

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

* Зависимость средней оценки по чтению от прохождения подготовительного курса

In [9]:
table.groupby("test preparation course")["reading score"].mean()

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

* Зависимость средней оценки за письменную часть от прохождения подготовительного курса

In [10]:
table.groupby("test preparation course")["writing score"].mean()

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [11]:
print(*set(table['lunch'])) #самый быстрый способ, из тех что я нашел в документации

standard free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [12]:
table = table.rename(columns={'parental level of education' : 'education',
                              'test preparation course' : 'test preparation'})
table.head(15)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50
10,male,group C,associate's degree,standard,none,group1,58,54,52
11,male,group D,associate's degree,standard,none,group1,40,52,43
12,female,group B,high school,standard,none,group1,65,81,73
13,male,group A,some college,standard,completed,group1,78,72,70
14,female,group A,master's degree,standard,none,group1,50,53,58

**Зафиксируем минимальный балл для сдачи экзамена**

In [13]:
passmark = 50

**Задание 10. Ответьте на вопросы:**

   * Какая доля студентов сдала экзамен по математике (passmark > 50)?

In [14]:
print("Percentage of students passed the math exam: {0}".format(len(table[(table['math score'] > 50)])/len(table)))

Percentage of students passed the math exam: 0.85

* Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?

In [15]:
print("Percentage of students passed the math exam with completed course: {0}".format(len(table[(table['math score'] > 50) 
                                                                                                & (table['test preparation'] == 'completed')])
                                                                                      /len(table[(table['test preparation'] == 'completed')])))

Percentage of students passed the math exam with completed course: 0.9078212290502793

* Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [16]:
print("Percentage of students (female) didn't pass the math exam with unfinished course: {0}".format(
len(table[(table['test preparation'] == 'none') &
          (table['gender'] == 'female') & (table['math score'] <= passmark)]
    )/len(table[(table['test preparation'] == 'none') & (table['gender'] == 'female')])))

Percentage of students (female) didn't pass the math exam with unfinished course: 0.23353293413173654

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
   * Для каждой этнической группы выведите средний балл за экзамен по чтению

In [17]:
%time table.groupby('race/ethnicity')['reading score'].mean()

CPU times: user 2.21 ms, sys: 532 µs, total: 2.74 ms
Wall time: 2.48 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

 * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [18]:
%time table.groupby('education')['writing score'].min()

CPU times: user 1.47 ms, sys: 214 µs, total: 1.68 ms
Wall time: 1.45 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**
   * Для каждой этнической группы выведите средний балл за экзамен по чтению

In [19]:
def GetMean(group):
    sum = amount = 0
    for i in range(table.shape[0]):
        if table.at[i,'race/ethnicity'] == group:
            sum += table.at[i,'reading score']
            amount += 1
    return sum/float(amount)
%time 
groups = ['group A', 'group B', 'group C', 'group D', 'group E']
for i in groups:
    print("{0}:\t{1}".format(i, GetMean(i)))

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 4.77 µs
group A:	64.67415730337079
group B:	67.35263157894737
group C:	69.10344827586206
group D:	70.03053435114504
group E:	73.02857142857142

 * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [20]:
def GetMin(lvl):
    min = 101
    for i in range(table.shape[0]):
        if table.at[i,'education'] == lvl and table.at[i,'writing score'] < min:
            min = table.at[i, 'writing score']
    return min

%time
educLvls = set(table['education'])

for i in educLvls:
    print("{0:>30}:\t{1}".format(i,GetMin(i)))

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.01 µs
              some high school:	10
               master's degree:	46
            associate's degree:	35
             bachelor's degree:	38
                   high school:	15
                  some college:	19

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [21]:
pd.pivot_table(data=table,index=['education', 'gender'])

                           math score  reading score  writing score
education          gender
associate's degree female   65.250000      74.120690      74.000000
                   male     70.764151      67.433962      65.405660
bachelor's degree  female   68.349206      77.285714      78.380952
                   male     70.581818      68.090909      67.654545
high school        female   59.351064      68.202128      66.691489
                   male     64.705882      61.480392      58.539216
master's degree    female   66.500000      76.805556      77.638889
                   male     74.826087      73.130435      72.608696
some college       female   65.406780      73.550847      74.050847
                   male     69.009259      64.990741      63.148148
some high school   female   59.296703      69.109890      68.285714
                   male     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

* Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

In [22]:
table["Math_PassStatus"] = table["math score"].apply(lambda s: 'F' if s < passmark  else 'P')
table.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P
1,female,group C,some college,standard,completed,group1,69,90,88,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F
4,male,group C,some college,standard,none,group1,76,78,75,P

* Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

In [23]:
table['Math_PassStatus'].value_counts()

P    865
F    135
Name: Math_PassStatus, dtype: int64

* Посчитайте количество студентов, сдавших и не сдавших экзамен по чтению.

In [24]:
table["Reading_PassStatus"] = table["reading score"].apply(lambda s: 'F' if s < passmark  else 'P')
table['Reading_PassStatus'].value_counts()

P    910
F     90
Name: Reading_PassStatus, dtype: int64

* Посчитайте количество студентов, сдавших и не сдавших экзамен по письму.

In [25]:
table["Writing_PassStatus"] = table["writing score"].apply(lambda s: 'F' if s < passmark  else 'P')
table['Writing_PassStatus'].value_counts()

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [26]:
def isPass(math, read, write):
    return 'P' if [write, read, math].count('P') == 3 else 'F'
table['OverAll_PassStatus'] = table.apply(lambda x: isPass(x['Math_PassStatus'],x['Reading_PassStatus'], x['Writing_PassStatus']),axis=1)

table["OverAll_PassStatus"].value_counts()

P    812
F    188
Name: OverAll_PassStatus, dtype: int64

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [27]:
import numpy
def GetGrade(average_mark):
    return {
               average_mark < 50: 'F',
        50 <= average_mark < 60:   'E',
        60 <= average_mark < 70 : 'D',
          70 <= average_mark < 80:  'C',
         80 <= average_mark < 90:  'B',
         90 <= average_mark:       'A'
    }[True]

table['Grade'] = table.apply(lambda x: GetGrade(numpy.mean([x['math score'], x['writing score'], x['reading score']])), axis =1)
table.head(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C
5,female,group B,associate's degree,standard,none,group1,71,83,78,P,P,P,P,C
6,female,group B,some college,standard,completed,group1,88,95,92,P,P,P,P,A
7,male,group B,some college,free/reduced,none,group1,40,43,39,F,F,F,F,F
8,male,group D,high school,free/reduced,completed,group1,64,64,67,P,P,P,P,D
9,female,group B,high school,free/reduced,none,group1,38,60,50,F,P,P,F,F

In [28]:
table['Grade'].value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64